.login {
    min-height: 100vh;
    /* background-color: #184e77; */
    padding: 35px;
}

.login-bg-image {
    /* background-image: url("/common/the-whole-purpose-of-education.jpg"); */
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.forgot-password a {
    color: white;
    text-decoration: none;
}
